{% extends 'books/base.html' %}

{% block body %}

<div class="conatiner">
    <div class="row">
        <div class="col-md-3 offset-md-4">
            <div class="card">
                <div class="card-header text-white bg-info">
                    <div class="card-title">
                        Regsiter
                    </div>  
                </div>
                <div class="card-body">
                    <form method="POST" action="">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="form-group">
                            {{field.name}}
                            <br>
                            {{field}}
                        </div>
                        {% endfor%}
                        <button class="btn btn-info" type="Submit">Signup</button>
                        <a class="btn btn-info" href="{% url 'login' %}">Already Have an account! Login</a>
                    </form>
                  </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}



<form method="POST" action="">
    {% csrf_token %}
    {{form.as_p}}
    <button type="Submit">Submit</button>
</form>